body {
    width: 390px;
}

main,
.container,
footer {
    text-align: center;
    padding: 4px
}

header {
    height: 80px;
    background-color: #fdda2a;
}

header img {
    width: 100%;
    height: 80px;
    object-fit: contain;
    border: 3px solid #5c3551;
}

.no-content-to-download {
    padding: 4px;
    height: 50px;
    display: none;
    color: #5c3551
}


/* Download Image Section*/

.content-downloadable {
    color: #5c3551;
    display: none;
}

.loading-container {
    display: none;
}

.download-controls-container {
    display: none;
}

.thumbnail-container {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-gap: 1em;
    justify-content: center;
}

.thumnail-img {
    height: 100px;
    object-fit: contain;
    border: 4px solid #fdda2a;
}

.download-btn {
    border-radius: 29px;
    background-color: #5c3551;
    border: 3px solid #fdda2a;
    color: #fdda2a;
    font-weight: bold;
}